body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: #000;
    color: #fff;
}

section {
    display: flex;
}

select, option {
    background: #000;
    color: #fff;
}

.title {
    text-align: center;
}

.cell {
    display: flex;
    border: 1px solid #333;
    border-radius: 3px;
    /* transition: 50ms; */
}

.apple {
    content: '';
    background-image: url(/img/apple.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.snake-cell img {
    margin: auto;
}

.snake-head {
    background-color: #34ac00;
    border-radius: 6px;
    background-image: none;
}

.snake-body {
    background-color: #bada55;
}

#snake-container {
    display: flex;
    flex-wrap: wrap;
}

.snake-wrapper {
    display: flex;
    margin: auto;
    gap: 10px;
}

.controls {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.controls button {
    width: 115px;
}

.controls .label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.controls select {
    padding: 5px;
}

#message, span.score {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}